/*body
{
	background-color: orange;
}

p
{
	color: blue;
}

h1
{
	color: green;
}

h2
{
	color: purple;
}*/

.myStyle
{
	color: pink;
	font-size: 22px;
	font-weight: bold;
}

#myHeading
{
	color: blue;
	font-size: 36px;
	font-weight: bolder;
}